PORT=3020
DATABASE_URL=postgresql://postgres:password@localhost:5432/productify
NODE_ENV=development
CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
CLERK_SECRET_KEY=sk_test_your_clerk_secret_key
FRONTEND_URL=http://localhost:5173
FRONTEND_URLS=http://localhost:5173
